<section class="body-wrap" style="background-color: #fff">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="body-content">
        <div class="content-element">
          <div class="time-slot">
            <h3>Time Slot</h3>
            <div class="row">
              <p>{{ slotsByDate | date: "dd MMMM" }}</p>
              <div
                class="col-lg-12 slot-box"
                *ngFor="let item of todayTimeShift"
              >
                <p>
                  {{ item.fromTime | date: "hh:mm a" }}-{{
                    item.toTime | date: "hh:mm a"
                  }}
                </p>
                <button (click)="onDeleteSlots(item.id)">Delete</button>
                <button (click)="onUpdateSlots(item)">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
