<body>
  <div class="wrapper">
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <ul class="header-left">
              <li>
                <a>
                  <img src="./assets/images/logo.png" />
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-7"></div>
        </div>
      </div>
    </header>
    <!--header ends here-->
    <div class="container sign-container">
      <section class="signup-main">
        <h2>Login</h2>
        <div class="row">
          <div class="col-lg-12 doctor-signup">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="form-group col-lg-12">
                  <input
                    type="email"
                    placeholder="Email"
                    formControlName="email"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && loginFormError.email.errors
                    }"
                  />
                  <div
                    *ngIf="loginFormError.email.errors?.pattern"
                    style="color: red"
                  >
                    Email must be a valid email address
                  </div>
                  <div
                    *ngIf="submitted && loginFormError.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="loginFormError.email.errors.required">
                      User Name is required
                    </div>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <input
                    [type]="show ? 'text' : 'password'"
                    placeholder="Password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && loginFormError.password.errors
                    }"
                  />
                  <i
                    *ngIf="!show"
                    class="fa fa-eye"
                    aria-hidden="true"
                    (click)="password()"
                  ></i>
                  <i
                    *ngIf="show"
                    class="fa fa-eye-slash"
                    aria-hidden="true"
                    (click)="password()"
                  ></i>
                  <div
                    *ngIf="submitted && loginFormError.password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="loginFormError.password.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="loginFormError.password.errors.pattern">
                      New Password should be at least one letter,one capital
                      letter, one number and one special character
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row signup-checkbox">
                <div class="form-check w-100 text-right">
                  <label class="form-check-label text-right" for="exampleCheck1"
                    ><a routerLink="/forgot"
                      >I have Forgotten my password</a
                    ></label
                  >
                </div>
              </div>
              <div class="sign-btn">
                <button class="sign-account">Login</button>
              </div>
              <div class="or-div text-center">
                <p>OR</p>
              </div>
              <div class="social-icons">
                <ul>
                  <li class="facebook-icon" (click)="signInWithFacebook()">
                    <img src="assets/images/facebook-icon.png" />
                    <h5>Facebook</h5>
                  </li>
                  <li
                    class="google-icon"
                    (click)="signInWithGoogle('loginwithgoogle')"
                  >
                    <img src="assets/images/google-icon.png" />
                    <h5>Google</h5>
                  </li>
                </ul>
              </div>
              <div class="form-row signup-checkbox patient-checkbox">
                <div class="form-check w-100 text-center">
                  <label class="form-check-label text-right" for="exampleCheck1"
                    >Don't have an account?
                    <a routerLink="/register/step-1">Sign Up</a></label
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
