<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div
              class="income-status aos-init aos-animate setting-main"
              data-aos="zoom-in"
            >
              <div class="row">
                <h4 class="mt-4">The Medical Records</h4>
                <div class="col-lg-12" [routerLink]="['past-medical-history']">
                  <div class="setting-inner-div">
                    <h5>
                      <img src="./assets/images/medical-history.png" /> Past
                      Medical History
                      <span
                        ><i class="fa fa-angle-right" aria-hidden="true"></i
                      ></span>
                    </h5>
                  </div>
                </div>
                <div class="col-lg-12" [routerLink]="['surgical-history']">
                  <div class="setting-inner-div">
                    <h5>
                      <img src="./assets/images/surgeon.png" /> Surgical History
                      <span
                        ><i class="fa fa-angle-right" aria-hidden="true"></i
                      ></span>
                    </h5>
                  </div>
                </div>
                <div class="col-lg-12" [routerLink]="['family-history']">
                  <div class="setting-inner-div">
                    <h5>
                      <img src="./assets/images/family-icon.png" /> Family
                      History<span
                        ><i class="fa fa-angle-right" aria-hidden="true"></i
                      ></span>
                    </h5>
                  </div>
                </div>
                <div class="col-lg-12" [routerLink]="['allergy']">
                  <div class="setting-inner-div">
                    <h5>
                      <img src="./assets/images/allergy-icon.png" />
                      Allergy<span
                        ><i class="fa fa-angle-right" aria-hidden="true"></i
                      ></span>
                    </h5>
                  </div>
                </div>
                <div class="col-lg-12" [routerLink]="['attachments-reports']">
                  <div class="setting-inner-div">
                    <h5>
                      <img src="./assets/images/reports-icon.png" /> Attachment
                      and reports<span
                        ><i class="fa fa-angle-right" aria-hidden="true"></i
                      ></span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
