<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <section class="dashboard-profile">
              <div class="row">
                <div class="col-lg-6">
                  <div class="user-profile">
                    <span><img src="{{ profilePic }}" /></span>
                    <i class="fas fa-pen"></i>
                    <input
                      type="file"
                      id="file"
                      class="fileinput"
                      (change)="changeProfilePic($event)"
                    />
                    <div class="user-detail">
                      <h4>
                        DR.
                        {{ dashboardInfo?.firstName | uppercase }}
                        {{ dashboardInfo?.lastName | uppercase }}
                      </h4>
                      <p *ngFor="let item of dashboardInfo?.doctorSpecialities">
                        {{ item?.name }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="row">
              <div class="col-md-12 info-tabs">
                <div class="profile-tabs">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        data-toggle="tab"
                        href="#personal-info"
                        >Personal
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#working-info"
                        >Working
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#banking-info"
                        >Banking
                      </a>
                    </li>
                  </ul>

                  <div
                    class="income-status aos-init aos-animate psychologist-section"
                    data-aos="zoom-in"
                  >
                    <div class="tab-content">
                      <div id="personal-info" class="tab-pane active">
                        <app-personal-info></app-personal-info>
                      </div>
                      <div id="working-info" class="tab-pane fade">
                        <br />
                        <app-working-info></app-working-info>
                      </div>
                      <div id="banking-info" class="tab-pane fade">
                        <br />
                        <app-banking-info></app-banking-info>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
