<div class="wrapper" id="backtotop" aos-init aos-animate data-aos="fade-up">
  <!-- body wrap start here-->
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="successful-main">
              <h2 class="successful-main-head">Past Appointments</h2>
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input
                      type="text"
                      (input)="onSearchChange($event.target.value)"
                      [(ngModel)]="searchValue"
                      name="searchValue"
                      class="form-control"
                      placeholder="Search By Name"
                    />
                  </div>
                </div>
                <div class="col-md-5 search-btn">
                  <button
                    [disabled]="isDisbaledButtons"
                    (click)="onSearch(searchValue)"
                  >
                    Search
                  </button>
                  <button
                    [disabled]="isDisbaledButtons"
                    (click)="onClearSearch()"
                  >
                    Clear Search
                  </button>
                </div>

                <div class="past-appointments">
                  <div class="past-app-inner" *ngIf="isNoDataAvailble">
                    <p>No Data To Show</p>
                  </div>
                  <div class="row">
                    <div
                      class="col-lg-6"
                      *ngFor="let item of list"
                      aos-init
                      aos-animate
                      data-aos="zoom-in"
                    >
                      <div class="past-app-inner" *ngIf="!isNoDataAvailble">
                        <img
                          *ngIf="item.patientProfilePic == ''"
                          [src]="characterImg"
                        />
                        <img
                          *ngIf="item.patientProfilePic !== ''"
                          [src]="rootUrl + item.patientProfilePic"
                        />
                        <div class="past-app-text">
                          <h3>{{ item.patientName }}</h3>
                          <h6>
                            {{ item.slotFrom | date: "h:mm a" }}-
                            {{ item.slotTo | date: "h:mm a" }}
                          </h6>
                          <p>{{ item.slotFrom | date: "dd-MM-yyyy" }}</p>
                          <p
                            *ngIf="item.appointmentStatus == 5"
                            style="text-align: right"
                          >
                            Completed
                          </p>
                          <p
                            *ngIf="item.appointmentStatus == 2"
                            style="text-align: right"
                          >
                            Rejected
                          </p>
                          <p
                            *ngIf="item.appointmentStatus == 3"
                            style="text-align: right"
                          >
                            Cancelled
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- successful-main -->
            <pagination
              class="page-change"
              *ngIf="!isNoDataAvailble"
              [totalItems]="totalCount"
              [itemsPerPage]="pageSize"
              [maxSize]="pageSize"
              [(ngModel)]="currentPage"
              (pageChanged)="pageChanged($event)"
            >
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- body wrap start here-->
</div>
