<section class="body-wrap">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="body-content">
        <div class="notification-area">
          <div class="row">
            <div class="col-md-12">
              <!-- main app container -->
              <div class="card m-3">
                <div class="create-new-pass">
                  <h2>Create New Password</h2>
                  <p>
                    Please enter the OTP number that <br />
                    has been sent to your email/mobile
                  </p>
                  <form
                    [formGroup]="changePasswordForm"
                    (ngSubmit)="onSubmit()"
                  >
                    <div class="form-row">
                      <div class="form-group col-lg-12">
                        <input
                          type="text"
                          formControlName="oldPassword"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && f.oldPassword.errors
                          }"
                          placeholder="Enter Old Password"
                        />
                        <div
                          *ngIf="submitted && f.oldPassword.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.oldPassword.errors.required">
                            Old Password is required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-lg-12">
                        <input
                          type="password"
                          formControlName="newPassword"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && f.newPassword.errors
                          }"
                          placeholder="Enter New Password"
                        />
                        <div
                          *ngIf="submitted && f.newPassword.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.newPassword.errors.required">
                            Password is required
                          </div>
                          <div *ngIf="f.newPassword.errors.minlength">
                            Password must be at least 8 characters
                          </div>
                          <div *ngIf="f.newPassword.errors.pattern">
                            New Password should be at least one letter,one
                            capital letter, one number and one special character
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="sign-btn">
                      <button class="sign-account">Change Password</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
