<form class="profile-form">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label class="control-label"
        >Appointment Price (USD)
        <button type="button" class="btn btn-primary" data-toggle="modal">
          <i
            class="fas fa-pencil-alt"
            (click)="updateAppointmentPrice()"
          ></i></button
      ></label>
      <input
        type="text"
        disabled
        class="form-control"
        placeholder="{{ workInfo?.appointmentFees }}"
      />
      <span>
        <img src="./assets/images/billing.png" />
      </span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label class="control-label"
        >Speciality
        <button type="button" class="btn btn-primary">
          <i class="fas fa-pencil-alt" (click)="updateSpeciality()"></i></button
      ></label>
      <ng-container *ngFor="let item of workInfo?.doctorSpecialities">
        <input type="text" class="form-control" placeholder="{{ item.name }}" />
      </ng-container>
      <span>
        <img src="./assets/images/speciality.png" />
      </span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="control-label">Experience</label>
      <input
        type="text"
        class="form-control"
        placeholder="{{ workInfo?.experience }}"
      />
      <span>
        <img src="./assets/images/experience.png" />
      </span>
    </div>
    <div class="form-group col-md-6">
      <label class="control-label">Registration Number</label>
      <input
        type="text"
        class="form-control"
        placeholder=" {{ workInfo?.regNo }}"
      />
      <span>
        <img src="./assets/images/experience.png" />
      </span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label class="control-label"
        >Medical Degree
        <button type="button" class="btn btn-primary">
          <i class="fas fa-pencil-alt" (click)="openMedicalModal()"></i></button
      ></label>
      <ng-container>
        <input
          type="text"
          class="form-control"
          placeholder="{{ doctorEducation[0]?.degreeName }}"
        />
        <input
          type="text"
          class="form-control"
          placeholder="{{ doctorEducation[0]?.instituteName }}"
        />
      </ng-container>
      <span>
        <img src="./assets/images/experience.png" />
      </span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label class="control-label">Other Degree </label>
      <input
        type="text"
        class="form-control"
        placeholder="{{ doctorEducation[1]?.degreeName }}"
      />
      <input
        type="text"
        class="form-control"
        placeholder="{{ doctorEducation[1]?.instituteName }}"
      />
      <span>
        <img src="./assets/images/experience.png" />
      </span>
    </div>
  </div>
</form>

<ng-template #appointmentDailog>
  <h1 mat-dialog-title>Appointment Price</h1>
  <form [formGroup]="appointmentPriceForm" (ngSubmit)="onUpdateAppointment()">
    <mat-dialog-content class="mat-typography">
      <input
        formControlName="appointmentFee"
        rows="10"
        cols="120"
        [ngClass]="{ 'is-invalid': submitted && f.appointmentFee.errors }"
      />
    </mat-dialog-content>
    <mat-error *ngIf="!appointmentPriceForm.valid"
      >Please enter Appointment Fee</mat-error
    >

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="!appointmentPriceForm.valid">
        Update
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #medicalDailog>
  <h1 mat-dialog-title>Medical Degree</h1>
  <form
    [formGroup]="updateMedicalDetailsForm"
    (ngSubmit)="updateMedicalDetails()"
  >
    <mat-dialog-content class="mat-typography">
      <div class="form-row">
        <div class="form-group col-lg-12">
          <select class="form-control form-control-lg" formControlName="degree">
            <option *ngFor="let item of degreeList" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="form-group col-lg-12">
          <input formControlName="degreeInstituteName" class="form-control" />
        </div>
        <div class="form-group col-lg-12">
          <select
            class="form-control form-control-lg"
            formControlName="otherDegree"
          >
            <option *ngFor="let item of degreeList" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="form-group col-lg-12">
          <input
            formControlName="otherDegreeInstituteName"
            class="form-control"
          />
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" type="submit">Update</button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #specialityDailog>
  <h1 mat-dialog-title>Speciality</h1>
  <form
    [formGroup]="updateSpecialityForm"
    (ngSubmit)="updateSpecialityDetails()"
  >
    <mat-dialog-content class="mat-typography">
      <div class="form-row">
        <div class="form-group col-lg-12">
          <select
            class="form-control form-control-lg"
            formControlName="speciality"
          >
            <option *ngFor="let item of specialityList" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="row">
          <div class="form-group col-lg-6">
            <input
              formControlName="experienceYear"
              class="form-control"
              onlyNumber
              [maxLength]="2"
            />
          </div>

          <div class="form-group col-lg-6">
            <input
              formControlName="experienceMonth"
              class="form-control"
              (keydown)="checkLength2($event, inputText)"
              #inputText
            />
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" type="submit">Update</button>
    </mat-dialog-actions>
  </form>
</ng-template>
