<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="row">
              <div class="col-md-12">
                <div class="prescription-med mt-5">
                  <h1>Create Blog</h1>
                  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="form-group col-lg-12">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="Title"
                        placeholder="Title"
                      />
                    </div>
                    <div class="form-group col-lg-12">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="Description"
                        placeholder="Description"
                      />
                      <input
                        type="text"
                        class="form-control add-file"
                        placeholder="file"
                      />
                    </div>

                    <div class="form-group col-lg-12 mb-0">
                      <input
                        type="file"
                        id="file"
                        class="fileinput"
                        (change)="changeFile($event)"
                        formControlName="BlogImage"
                        class="form-control"
                      />
                    </div>
                    <br />
                    <div class="Create-submit">
                      <button>Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
