<form class="profile-form">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label class="control-label"
        >Bank Name
        <button type="button" class="btn btn-primary">
          <i class="fas fa-pencil-alt" (click)="updateBankInfo()"></i></button
      ></label>
      <input
        type="text"
        class="form-control"
        placeholder="{{ doctorBankInfo?.bankName }}"
      />
      <!-- Modal -->

      <span>
        <img src="./assets/images/bank-name.png" />
      </span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="control-label">Account No </label>
      <input
        type="text"
        class="form-control"
        placeholder="{{ doctorBankInfo?.accountNumber }}"
      />
      <span>
        <img src="./assets/images/account-no.png" />
      </span>
    </div>
    <div class="form-group col-md-6">
      <label class="control-label">Routing No.</label>
      <input
        type="text"
        class="form-control"
        placeholder="{{ doctorBankInfo?.routeNo }}"
      />
      <span>
        <img src="./assets/images/bank-name.png" />
      </span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="control-label">Branch Code </label>
      <input
        type="text"
        class="form-control"
        placeholder="{{ doctorBankInfo?.branchCode }}"
      />
      <span>
        <img src="./assets/images/account-no.png" />
      </span>
    </div>
    <div class="form-group col-md-6">
      <label class="control-label">Postal Code</label>
      <input
        type="text"
        class="form-control"
        placeholder="{{ doctorBankInfo?.postCode }}"
      />
      <span>
        <img src="./assets/images/bank-name.png" />
      </span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label class="control-label">Address </label>
      <input
        type="text"
        class="form-control"
        placeholder="{{ doctorBankInfo?.address }}"
      />
      <!-- Modal -->

      <span>
        <img src="./assets/images/address.png" />
      </span>
    </div>
  </div>
</form>

<ng-template #bankInfoDailog>
  <h1 mat-dialog-title>Bank Info Modal</h1>
  <form
    class="profile-form"
    [formGroup]="bankInfoForm"
    (ngSubmit)="onUpdateBankInfo()"
  >
    <mat-dialog-content class="mat-typography">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="control-label">Bank Name </label>
          <input type="text" class="form-control" formControlName="bankName" />

          <span>
            <img src="./assets/images/bank-name.png" />
          </span>
          <mat-error *ngIf="error.bankName.errors"
            >Bank Name Is Required</mat-error
          >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="control-label">Account No </label>
          <input
            type="text"
            class="form-control"
            formControlName="accountNumber"
          />
          <span>
            <img src="./assets/images/account-no.png" />
          </span>
          <mat-error *ngIf="error.accountNumber.errors"
            >Account Number Is Required</mat-error
          >
        </div>
        <div class="form-group col-md-6">
          <label class="control-label">Routing No.</label>
          <input type="text" class="form-control" formControlName="routeNo" />
          <span>
            <img src="./assets/images/bank-name.png" />
          </span>
          <mat-error *ngIf="error.routeNo.errors"
            >Route Number Is Required</mat-error
          >
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="control-label">Branch Code </label>
          <input
            type="text"
            class="form-control"
            formControlName="branchCode"
          />
          <span>
            <img src="./assets/images/account-no.png" />
          </span>
          <mat-error *ngIf="error.branchCode.errors"
            >Branch Code Is Required</mat-error
          >
        </div>
        <div class="form-group col-md-6">
          <label class="control-label">Postal Code</label>
          <input type="text" class="form-control" formControlName="postCode" />
          <span>
            <img src="./assets/images/bank-name.png" />
          </span>
          <mat-error *ngIf="error.postCode.errors"
            >Postal Code Is Required</mat-error
          >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="control-label">Address </label>
          <input type="text" class="form-control" formControlName="address" />
          <span>
            <img src="./assets/images/address.png" />
          </span>
          <mat-error *ngIf="error.address.errors"
            >Address Is Required</mat-error
          >
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="!bankInfoForm.valid">
        Update
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>
