<!-- <div class="wrapper">

  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="row">
              <div class="col-md-12">
                <div class="profile-tabs">
                  <ul class="nav nav-tabs tabs-heading" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#home"
                        >Earning Reports</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#menu1"
                        >Monthly Details</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 info-tabs">
                <div class="profile-tabs">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        data-toggle="tab"
                        href="#personal-info"
                        >Appointments Details</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#working-info"
                        >Monthly Details</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#banking-info"
                        >Total Earnings</a
                      >
                    </li>
                  </ul>

                  <div
                    class="income-status aos-init aos-animate psychologist-section"
                    data-aos="zoom-in"
                  >
                    <div class="tab-content">
                      <div id="personal-info" class="tab-pane active">
                        <div class="row">
                          <div class="col-md-12 earning-main">
                            <div class="income-status">
                              <div class="row m-0">
                                <div class="col-lg-1 successful-left-div">
                                  <span
                                    ><img src="assets/images/user-2.jpg"
                                  /></span>
                                </div>
                                <div class="col-lg-9 successful-center-div">
                                  <h2>Zoe Miller, 30</h2>
                                  <h5>23/06/2020</h5>
                                </div>
                                <div
                                  class="col-lg-2 successful-right-div earning-right-div"
                                >
                                  <h4>$100</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 earning-main">
                            <div class="income-status">
                              <div class="row m-0">
                                <div class="col-lg-1 successful-left-div">
                                  <span
                                    ><img src="assets/images/user-2.jpg"
                                  /></span>
                                </div>
                                <div class="col-lg-9 successful-center-div">
                                  <h2>Zoe Miller, 30</h2>
                                  <h5>23/06/2020</h5>
                                </div>
                                <div
                                  class="col-lg-2 successful-right-div earning-right-div"
                                >
                                  <h4>$100</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 earning-main">
                            <div class="income-status">
                              <div class="row m-0">
                                <div class="col-lg-1 successful-left-div">
                                  <span
                                    ><img src="assets/images/user-2.jpg"
                                  /></span>
                                </div>
                                <div class="col-lg-9 successful-center-div">
                                  <h2>Zoe Miller, 30</h2>
                                  <h5>23/06/2020</h5>
                                </div>
                                <div
                                  class="col-lg-2 successful-right-div earning-right-div"
                                >
                                  <h4>$100</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 earning-btn-div">
                            <a>See More </a>
                          </div>
                        </div>
                      </div>

                      <div id="working-info" class="tab-pane fade">
                        <br />
                        <div class="monthly-detail-sec">
                          <h4 class="text-center">
                            <i class="fa fa-angle-left" aria-hidden="true"></i
                            ><span>2019</span
                            ><i
                              class="fa fa-angle-right"
                              aria-hidden="true"
                            ></i>
                          </h4>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="monthly-detail-bg">
                                <h4>January</h4>
                                <div class="monthly-info">
                                  <span>
                                    <p>Average</p>
                                    <h5>$ 2056.78</h5>
                                  </span>
                                  <span>
                                    <p>Total</p>
                                    <h5>$ 3000.55</h5>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="monthly-detail-bg">
                                <h4>Febuary</h4>
                                <div class="monthly-info">
                                  <span>
                                    <p>Average</p>
                                    <h5>$ 2056.78</h5>
                                  </span>
                                  <span>
                                    <p>Total</p>
                                    <h5>$ 3000.55</h5>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="monthly-detail-bg">
                                <h4>March</h4>
                                <div class="monthly-info">
                                  <span>
                                    <p>Average</p>
                                    <h5>$ 2056.78</h5>
                                  </span>
                                  <span>
                                    <p>Total</p>
                                    <h5>$ 3000.55</h5>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="monthly-detail-bg">
                                <h4>April</h4>
                                <div class="monthly-info">
                                  <span>
                                    <p>Average</p>
                                    <h5>$ 2056.78</h5>
                                  </span>
                                  <span>
                                    <p>Total</p>
                                    <h5>$ 3000.55</h5>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="monthly-detail-bg">
                                <h4>May</h4>
                                <div class="monthly-info">
                                  <span>
                                    <p>Average</p>
                                    <h5>$ 2056.78</h5>
                                  </span>
                                  <span>
                                    <p>Total</p>
                                    <h5>$ 3000.55</h5>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="monthly-detail-bg">
                                <h4>June</h4>
                                <div class="monthly-info">
                                  <span>
                                    <p>Average</p>
                                    <h5>$ 2056.78</h5>
                                  </span>
                                  <span>
                                    <p>Total</p>
                                    <h5>$ 3000.55</h5>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 earning-btn-div">
                            <a>See More </a>
                          </div>
                        </div>
                      </div>


											  <div class="form-row">
													<div class="form-group col-lg-6">
													  <label for="inputEmail4">Bank Information</label>
													  <input type="text" class="form-control"  placeholder="Information here">
													</div>
													<div class="form-group col-lg-6">
													  <label for="inputEmail4">Bank Name</label>
													  <input type="text" class="form-control"  placeholder="Bank Name">
													</div>
												 </div>
												  <div class="form-row">
													<div class="form-group col-lg-6">
													  <label for="inputEmail4">Account No.</label>
													  <input type="text" class="form-control"  placeholder="012345678">
													</div>
													<div class="form-group col-lg-6">
													  <label for="inputEmail4">Rounting No.</label>
													  <input type="text" class="form-control"  placeholder="012345678">
													</div>
												 </div>
												 <div class="form-row">
												 <div class="form-group col-lg-6">
													    <label for="inputAddress">Address</label>
														<input style="min-height: 151px;" type="text" class="form-control" id="inputAddress" placeholder="Here is the address mentioned in this box.">
													</div>
													<div class="col-lg-6">
														<div class="form-group col-lg-12 p-0">
															  <label for="inputCity">Branch Code</label>
															   <input type="password" class="form-control"  placeholder="0987">
															</div>
															<div class="form-group col-lg-12 p-0">
															  <label for="inputCity">Postal Code</label>
															   <input type="password" class="form-control"  placeholder="098132">
															</div>
														</div>
												  </div>
												   <div class="form-row">
														<div class="form-group col-lg-6 p-0">
															  <label for="inputState">State</label>
															  <select id="inputState" class="form-control">
																<option selected>American</option>
																<option>...</option>
															  </select>
															</div>
												  </div>
												  <button type="submit" class="btn btn-primary">Edit</button>


											</div> -->
<!-- </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>  -->
<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="wrapper">
      <!-- body wrap start here-->
      <section class="body-wrap">
        <div class="row m-0">
          <div class="col-md-12 p-0">
            <div class="body-content">
              <div class="notification-area">
                <div class="row">
                  <!-- <h1>Mail Module Running</h1> -->
                </div>
                <div class="row">
                  <h1>Coming Soon In Next Build</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- body wrap start here-->
    </div>

    <!-- create invoice modal start here-->

    <!-- create invoice modal start here-->
  </body>
</html>
