<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0 past-med-list">
        <div class="body-content">
          <div class="content-element">
            <h1>Upcoming Appointments</h1>
            <div class="row">
              <div *ngIf="noUpcomingConsults">
                <h4>Yet there is no any Consults.</h4>
              </div>
              <div *ngIf="noUpcomingConsults"></div>
              <div class="col-md-12" *ngFor="let item of upcomingAppointments">
                <div class="past-appointments">
                  <div class="row">
                    <div
                      class="col-lg-12"
                      data-aos="fade-up"
                      data-aos-anchor-placement="center-bottom"
                    >
                      <div class="past-app-inner">
                        <div class="dropdown show dotted-icn">
                          <a
                            class="btn btn-secondary"
                            role="button"
                            id="dropdownMenuLink"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                          </a>

                          <div
                            class="dropdown-menu"
                            aria-labelledby="dropdownMenuLink"
                          >
                            <a class="dropdown-item">chat</a>
                            <a
                              class="dropdown-item"
                              (click)="onViewProfile(item)"
                              >View Profile</a
                            >
                            <a
                              class="dropdown-item Cancel"
                              (click)="deleteAppointment(item)"
                              >Cancel Appointment</a
                            >
                          </div>
                        </div>
                        <img
                          *ngIf="item.patientProfilePic == ''"
                          [src]="characterImg"
                        />
                        <img
                          *ngIf="item.patientProfilePic !== ''"
                          [src]="rootUrl + item.patientProfilePic"
                        />
                        <div class="past-app-text timer-icn">
                          <h3>{{ item.patientName }}</h3>
                          {{ item.slotFrom | date: "h:mm a" }}-
                          {{ item.slotTo | date: "h:mm a" }}
                          <p>{{ item.slotFrom | date: "dd-MM-yyyy" }}</p>
                          <i class="far fa-clock"></i>
                          <div *ngIf="item.timer <= 86400 && item.timer >= 0">
                            <countdown
                              [config]="{
                                leftTime: item.timer
                              }"
                            ></countdown>
                          </div>

                          <div *ngIf="item.timer >= 86400">
                            <countdown
                              [config]="{
                                leftTime: item.timer,
                                format: 'dd DAY'
                              }"
                            ></countdown>
                          </div>

                          <div *ngIf="item.timer < 0">
                            <button>Join Call</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
