<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0 past-med-list">
        <div class="body-content">
          <div class="content-element">
            <h1>Confirm Appointment</h1>
            <div class="row">
              <div class="col-md-12">
                <div class="past-appointments">
                  <div class="row">
                    <div
                      class="col-lg-12"
                      data-aos="fade-up"
                      data-aos-anchor-placement="center-bottom"
                    >
                      <div class="past-app-inner">
                        <img
                          *ngIf="previousData.patientProfilePic == ''"
                          [src]="characterImg"
                        />
                        <img
                          *ngIf="previousData.patientProfilePic !== ''"
                          [src]="rootUrl + previousData.patientProfilePic"
                        />
                        <div class="past-app-text">
                          <h3>
                            {{ patientInfo?.firstName
                            }}{{ patientInfo?.lastName }}
                          </h3>
                          <p>
                            {{ patientInfo?.city }},{{ patientInfo?.state }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="past-appointments">
                  <div class="row">
                    <div
                      class="col-lg-12"
                      data-aos="fade-up"
                      data-aos-anchor-placement="center-bottom"
                    >
                      <div class="past-app-inner">
                        <div class="past-app-text">
                          <h3>Height(cm):{{ patientInfo?.height }}</h3>
                          <h3>Weight(lbs):{{ patientInfo?.weight }}</h3>
                          <h3>Gender:{{ patientInfo?.gender }}</h3>
                          <h3>Age:{{ age }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="past-appointments">
                  <div class="row">
                    <div
                      class="col-lg-12"
                      data-aos="fade-up"
                      data-aos-anchor-placement="center-bottom"
                    >
                      <div class="past-app-inner">
                        <div class="past-app-text">
                          <h3>Date/Time</h3>
                          <p>
                            {{
                              previousData.slotFrom | date: "E, d MMM y, h:mm:a"
                            }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="past-appointments">
                  <div class="row">
                    <div
                      class="col-lg-12"
                      data-aos="fade-up"
                      data-aos-anchor-placement="center-bottom"
                    >
                      <div class="past-app-inner">
                        <div class="past-app-text">
                          <h3
                            [routerLink]="['/medical-records']"
                            routerLinkActive="router-link-active"
                          >
                            View Medical Records
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="sign-btn" *ngIf="!isShowButtons">
              <a
                class="sign-back"
                (click)="cancelConfirmation(previousData.appointmentId)"
                >Reject</a
              >
              <button
                class="sign-account sign-btn-bottom"
                (click)="acceptConfirmation(previousData.appointmentId)"
              >
                Accept
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
