<div class="sidebar panel">
  <ul aos-init aos-animate data-aos="fade-right">
    <li class="user-profile">
      <img [src]="baseImgUrl + dashboardData?.profilePic" />
      <div class="user-detail">
        <h4>
          DR.
          {{ dashboardData?.firstName | uppercase }}
          {{ dashboardData?.lastName | uppercase }}
        </h4>
        <p *ngFor="let item of specialityInfo">{{ item?.name }}</p>
      </div>
    </li>

    <li>
      <a
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img src="./assets/images/dashboard-icon.png" />
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/past-appointments']" routerLinkActive="active">
        <img src="./assets/images/appointment.png" />
        <span> Past Appointments</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/my-schedule']" routerLinkActive="active">
        <img src="./assets/images/schedule.png" />
        <span>My Schedule</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/profile']" routerLinkActive="active">
        <img src="./assets/images/user-profile.png" />
        <span>My Profile</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/to-do-list']" routerLinkActive="active">
        <img src="./assets/images/to-do-list.png" />
        <span>To Do Lists</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/mail']" routerLinkActive="active">
        <img src="./assets/images/mail.png" />
        <span>Mails</span>
      </a>
    </li>

    <li>
      <a [routerLink]="['/earning']" routerLinkActive="active">
        <img src="assets/images/billing.png" />
        <span>Earning Reports</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/blog']" routerLinkActive="active">
        <img src="./assets/images/blog.png" />
        <span>Blogs</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/setting']" routerLinkActive="active">
        <img src="./assets/images/setting.png" />
        <span>Settings</span>
      </a>
    </li>

    <li>
      <a (click)="logout()">
        <img src="./assets/images/sign-out.png" />
        <span>Sign Out</span>
      </a>
    </li>
  </ul>
</div>
