<!--wrapper start here-->

<!-- wrapper ends here-->
<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="about-us-video">
              <div class="doc-video-bg" *ngIf="session">
                <!-- <img class="doc-video" src="assets/images/doc-video-call.png"> -->
                <!-- <app-publisher
                  style="height: 100%"
                  class="doc-video"
                  [session]="session"
                ></app-publisher> -->
                <ul class="videocall-btn">
                  <!-- <li>
                    <button type="button">
                      <img
                        src="assets/images/plus1.png"
                        [routerLink]="['/dashboard/patient-gallery']"
                        routerLinkActive="router-link-active"
                      />
                    </button>
                  </li> -->
                  <!-- <li>
                    <button type="button">
                      <img
                        src="assets/images/medical.png"
                        [routerLink]="['/dashboard/patient-documents']"
                        routerLinkActive="router-link-active"
                      />
                    </button>
                  </li> -->
                  <li>
                    <button type="button" (click)="onTurnOff()">
                      End Call
                    </button>
                  </li>
                  <!-- <li>
                    <button type="button">
                      <img src="assets/images/mute.png" />
                    </button>
                  </li> -->
                </ul>
                <!-- <img class="user-video" src="assets/images/user-video-chat-img.png "> -->
                <!-- <app-subscriber
                  class="user-video"
                  *ngFor="let stream of streams"
                  [stream]="stream"
                  [session]="session"
                >
                </app-subscriber> -->

                <!-- <div class="login-screen">
                  <div class="container">
                    <header class="header">
                      <ul class="menu-icon"> -->
                <!-- <li><a><img src="assets/images/menu-icon.png"></a></li> -->
                <!-- <li class="user-lock">
                          <a class="text-main">Jordan g.</a>
                        </li>
                      </ul>
                      <div class="menu-corss">
                        <p class="caller-timer">
                          <countdown [config]="{ leftTime: 30 }"></countdown>
                        </p> -->
                <!-- <a [routerLink]="['/dashboard/my-consults']" routerLinkActive="router-link-active"><img
                            src="assets/images/x.png"></a> -->
                <!-- </div>
                    </header>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
