*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

body {
  color: #000;
  background: #fff !important;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.selectdiv {
  position: relative;
}

.selectdiv:after {
  content: "\f078";
  font: normal normal normal 17px/1 FontAwesome;
  color: #37ce7f;
  right: 25px;
  top: 6px;
  height: 34px;
  padding: 15px 0px 0px 8px;
  /* border-left: 1px solid #0ebeff; */
  position: absolute;
  pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  -ms-word-break: normal;
  word-break: normal;
}

select.form-control {
  color: #828282;
}
.header-toprowin1.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 10000000;
  box-shadow: 0px 1px 10px #000000a1;
}
.border-radius-0 {
  border-radius: 0 !important;
}
p {
  letter-spacing: 0.4px;
}
img {
  max-width: 100%;
}
.text-main {
  color: #005a9c !important;
}
.btn-primary {
  color: #fff;
  background-color: #1545c0 !important;
  border-color: #1545c0 !important;
}
.bg-main {
  background: #005a9c !important;
}
.text-green {
  color: #009b41 !important;
}
.bg1-green {
  background: #f5f5f5 !important;
}
.mb-70 {
  margin-bottom: 40px;
}
.bg-green {
  background: #009b41 !important;
}
.text-gray {
  color: #7e7e7e;
}
.text-fff {
  color: #fff !important;
}
.text-black {
  color: #000;
}
.text-red {
  color: #f82d37 !important;
}
.text-green {
  color: #0d9b2b !important;
}
.staying-video {
  margin: 15px 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
select {
  box-shadow: none !important;
  outline: none !important;
  border: none;
}
button {
  outline: none !important;
}
a,
a:hover {
  transition: 0.4s ease-in-out;
  text-decoration: none !important;
}
a:hover {
  color: #fff;
  cursor: pointer;
}
.bg-red {
  background: #ac0958 !important;
}
.bg-green-g {
  background: #b6b8b6 !important;
}
.btn-blue {
  padding: 7px 29px;
  background: #005a9c;
  transition: 0.4s ease;
  color: #e7e7e7;
  text-transform: capitalize;
  font-size: 19px;
  border-radius: 50px;
}
.btn-green {
  padding: 7px 29px;
  background: #3fa867;
  transition: 0.4s ease;
  color: #e7e7e7;
  text-transform: capitalize;
  font-size: 19px;
  border-radius: 50px;
}
.btn-trans {
  padding: 7px 29px;
  background: transparent;
  transition: 0.4s ease;
  color: #e7e7e7;
  text-transform: capitalize;
  font-size: 19px;
  border-radius: 50px;
  border: 1px solid #e7e7e7;
}
.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.wrapper .login-block {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .login-block .row {
  width: 100%;
}
/* .wrapper .login-block .login-left {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(-125deg, #101480 25%, #7620e4 80%);
} */
.wrapper .login-block .login-left {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/login-bg-f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.wrapper .login-block .login-left:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(2, 26, 117, 0.9);
  z-index: 1;
}
.wrapper .login-block .login-left h1 {
  color: #fff;
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 1px 1px #000;
  position: relative;
  z-index: 2;
}
.wrapper .login-block .login-left p {
  color: #fff;
  font-size: 24px;
  text-shadow: 2px 1px 1px #000;
  position: relative;
  z-index: 2;
}
.wrapper .login-block .login-left .socail-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}
.wrapper .login-block .login-left .socail-icon li a {
  border-radius: 50%;
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c179b;
  box-shadow: 2px 3px 0px #101480;
}
.wrapper .login-block .login-left .socail-icon li a i {
  transition: 0.3s ease;
  transform: rotate(0deg);
}
.wrapper .login-block .login-left .socail-icon li a:hover i {
  transition: 0.3s ease;
  transform: rotate(360deg);
}
.wrapper .login-block .login-left .socail-icon li a:hover {
  box-shadow: 0px 5px 20px #101480;
}
.wrapper .login-block .invoice-formin {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper .login-block .invoice-form {
  background: #fff;
  max-width: 100%;
  margin: auto;
  padding: 90px 0 0 0;
  text-align: center;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  width: 70%;
}
.wrapper .login-block .invoice-form .form-group {
  position: relative;
  text-align: left;
  margin-bottom: 1rem;
}
.wrapper .login-block .invoice-form .form-head {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -70px;
  left: 0;
}
.wrapper .login-block .invoice-form .form-group input {
  padding: 10px !important;
  height: auto;
  width: 100%;
  border-radius: 4px;
  font-size: 15px !important;
}
.wrapper .login-block .invoice-form .form-group input:focus {
  box-shadow: 0px 0px 2px blue !important;
}
.wrapper .login-block .invoice-form .form-group input::placeholder {
  font-size: 15px !important;
}

.wrapper .login-block .invoice-form .forget-link a {
  text-align: left;
  display: flex;
  align-items: center;
  color: #1235bd;
}
.wrapper .login-block .invoice-form .form-group p {
  color: #ccc;
}
.wrapper .login-block .invoice-form .social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper .login-block .invoice-form .social-links li a {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.wrapper .login-block .invoice-form .social-links li a i {
  margin-right: 5px;
}
.wrapper .login-block .invoice-form .social-links li a.fb {
  color: #fff;
  background: blue;
}
.wrapper .login-block .invoice-form .social-links li a.google {
  color: #fff;
  background: red;
}
.wrapper .login-block .invoice-form .form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
  /* left: 0!important; */
  width: auto !important;
}
.header {
  background: linear-gradient(
    90deg,
    rgba(44, 200, 202, 1) 13%,
    rgba(55, 206, 127, 1) 100%
  );
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 0;
  z-index: 1001;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.47);
}
.header .header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header .header-left li {
  margin-right: 50px;
}

.header .header-left li a {
  font-size: 24px;
  color: #fff;
}

.creat-invoice i {
  margin-right: 5px;
}
#panel {
  display: none;
}
.header .row {
  align-items: center;
}
.header .header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
}
.header .header-right li {
  margin-left: 50px;
}
.header .header-right li a {
  font-size: 24px;
  color: #fff;
}
section.body-wrap {
  position: relative;
  overflow: hidden;
  background-color: #e8f6fb;
  margin-top: 50px;
}
.sidebar {
  position: fixed;
  height: 100vh;
  background-image: none;
  transition: 0.3s ease;
  transform: translateX(0%);
  width: 335px;
  top: 78px;
  z-index: 1000;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #fff;
}
.sidebar.panel.open {
  transform: translateX(-100%);
}

.sidebar .user-profile {
  padding: 30px 15px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    90deg,
    rgba(44, 200, 202, 1) 13%,
    rgba(55, 206, 127, 1) 100%
  );
}
.sidebar .user-profile img {
  width: 90px;
  margin-right: 10px;
  border-radius: 100%;
  height: 90px;
  object-fit: cover;
  border: 3px solid #fff;
}
.sidebar .user-profile .user-detail {
  text-align: left;
}
.sidebar .user-profile .user-detail h4 {
  color: #fff;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px;
}
.sidebar.panel ul li a img {
  padding-right: 15px;
  width: 100%;
  max-width: 39px;
}
.sidebar .user-profile .user-detail p {
  color: #fff;
  font-size: 14px;
}
.sidebar ul {
  margin-bottom: 150px;
}
.sidebar li a {
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  padding: 17px 20px;
  text-align: left;
  color: #000;
  text-transform: capitalize;
}
.body-content.open {
  margin-left: 0;
}
.sidebar li a.active,
.sidebar li a:hover {
  background: transparent;
  border-bottom: 1px solid #ecf8fd;
}
.sidebar li a.active {
  border-left: 5px solid #000;
}
.sidebar li a span {
  font-size: 18px;
}
.body-content {
  padding: 25px;
  position: relative;
  margin-left: 335px;
  transition: 0.4s ease;
}
.body-content .breadcrumb {
  background-color: #e9ecef4d;
}
.body-content .breadcrumb li a {
  color: #005a9c;
}
.body-content .content-element {
  margin-top: 40px;
}
.body-content .content-element .income-status {
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 4px 20px #00000030;
  border-radius: 14px;
}
.body-content .content-element .income-status .income-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 10px;
}
.today-appointment-sec .income-box {
  border-bottom: 1px solid #fa9546;
  padding: 15px 30px !important;
}
.today-appointment-sec a {
  background-color: #3299ab;
  color: #fff;
  padding: 10px 33px;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 29px;
}
.today-appointment-inner h5 {
  font-weight: 300;
  margin-bottom: 21px;
  letter-spacing: 2px;
  font-size: 20px;
}
.today-appointment-inner .today-appointment-right span {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.today-appointment-inner.appointments-detail .today-appointment-right p {
  font-size: 17px;
  text-align: center;
}
.successful-left-div span {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 100%;
  overflow: hidden;
}
.successful-left-div span img {
  width: 100%;
}
.successful-left-div {
  padding: 15px 15px;
  margin: auto;
}
button.blank-undo:hover {
  background-color: #3299ab;
  color: #fff;
  border: 1px solid #3299ab;
  padding: 15px 45px;
  border-radius: 22px;
  font-size: 18px;
  margin: auto;
}
button.blank-undo {
  background-color: transparent;
  color: #3299ab;
  border: 1px solid #3299ab;
  padding: 15px 45px;
  border-radius: 22px;
  font-size: 18px;
  margin: auto;
}
.undo-btns-div {
  display: flex;
}
.successful-center-div {
  padding: 15px 0px;
}
.successful-center-div h5 {
  color: #383838;
  font-weight: 400;
  letter-spacing: 2px;
}
.successful-right-div {
  background-color: #fba14f;
  border-radius: 0px 14px 14px 0px;
}
.successful-right-div h4 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 36px 0px;
  margin: 0px;
}
.successful-main .income-status {
  margin-bottom: 15px;
}
.successful-btn-div a {
  background-color: #3299ab;
  color: #fff;
  padding: 16px 40px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 18px;
}
.successful-btn-div {
  margin-top: 20px;
  text-align: center;
}
.successful-main {
  margin-top: 60px;
}
.successful-center-div h2 {
  font-size: 29px;
  color: #383838;
}
span.app-request-span {
  padding-left: 35px;
}
span.app-request-span i {
  font-size: 15px;
  padding: 0px 2px;
}
.successful-main h2.successful-main-head {
  color: #2ac7d6;
  font-size: 24px;
  text-transform: uppercase;
}
.search-btn button {
  padding: 14px 0px !important;
  background: #58cd8b;
  color: #fff;
  border: none;
  width: 160px !important;
  margin-left: 8px;
  border-radius: 6px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0px !important;
}
.today-appointment-inner .col-md-8 p {
  margin: 0px;
}
.today-appointment-inner .today-appointment-right p {
  color: #3299ab;
  font-size: 19px;
}
.today-appointment-inner i {
  color: #3299ab;
  font-size: 19px;
}
.today-appointment-inner .today-appointment-right p {
  font-size: 20px;
}
.today-appointment-inner {
  margin-top: 30px;
}
.col-md-6.today-appointment-inner i {
  color: #3299ab;
  font-size: 19px;
}
.today-appointment-inner span img {
  width: 100%;
}
.appointments-main {
  height: 400px;
  overflow: auto;
  padding: 0px 20px;
}
.today-appointment-inner.appointments-detail {
  margin: 20px 0px;
}
.today-appointment-inner {
  background-color: #f3f6fb;
  border-radius: 20px;
  padding: 20px;
}
body .today-appointment-sec .income-status .income-box h3 {
  border: 0px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 27px;
}
.body-content .content-element .income-status .income-box h3 {
  background: transparent !important;
  padding: 0px !important;
}
.body-content .content-element .income-status h3 {
  text-align: center;
  font-size: 24px;
  color: #121212;
  background: transparent;
  margin: 0;
  padding: 15px 10px;
  border-bottom: 1px solid #fa9546;
  text-transform: uppercase;
}
.body-content .content-element .income-status .income-box p {
  margin: 0;
  padding: 5px;
  color: #fff;
}
.body-content .content-element .income-status h3 span {
  margin-right: 5px;
}
.body-content .content-element .income-status .income-title {
  padding: 15px;
}
.body-content .content-element .income-status .income-titlein {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body-content .content-element .income-status .income-titlein h1 {
  margin: 0;
  color: #005a9c;
  font-weight: bold;
}
.body-content
  .content-element
  .income-status
  .income-titlein
  img.appointment-img {
  width: 100%;
  max-width: 75px;
}
.appointment-increase img {
  width: 100%;
  max-width: 320px;
}
.appointment-increase h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 44px;
}
.appointment-increase p {
  color: #121212;
  font-size: 21px;
  margin-top: 11px;
}
.appointment-increase {
  width: 77%;
}
.body-content .content-element .income-status .income-title .income-btn {
  margin-top: 10px;
}
.body-content .content-element .income-status .income-title .income-btn a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #042cb2;
}
.body-content .content-element .income-status .income-title .income-btn a i {
  transition: 0.3s ease;
  margin-left: 5px;
  opacity: 0;
  transform: translate(-10px, 0px);
}
.body-content
  .content-element
  .income-status
  .income-title
  .income-btn
  a:hover
  i {
  opacity: 1;
  transform: translate(0px, 0px);
}
.notification-area a {
  color: #000;
  padding: 10px;
  display: block;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
}
.notification-area {
  padding: 30px;
  background: #f8f9fa;
  margin-top: 40px;
  border-radius: 14px;
}
.notification-area h3 {
  margin-bottom: 40px;
}
.notification-area a .invoice-num {
  font-size: 14px;
  margin-bottom: 5px;
}

.notification-area a:hover {
  box-shadow: 0px 4px 20px #00000030;
}
.notification-area a .note-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}
.notification-area a .note-text p {
  margin: 0;
  font-size: 20px;
  color: #005a9c;
}
.notification-area a .note-text h5 {
  font-weight: bold;
  text-align: center;
}
.notification-area a .date {
  font-size: 14px;
  margin-bottom: 5px;
}
.notification-area a .note-text h5 .status {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #005a9c;
}
.Dismiss {
  display: none;
}
.if-nodata {
  height: 200px;
  background: #fff;
  padding: 20px;
  overflow: scroll;
  overflow-x: hidden;
}

.sidebar li a .i {
  width: 30px;
  font-size: 22px;
  text-align: center;
}
.CreateInvoice-modal .modal-dialog {
  max-width: 551px;
  margin: 4rem auto;
  height: 550px;
  overflow-x: hidden;
}
.CreateInvoice-modal .modal-dialog .modal-body {
  padding: 0 !important;
}
.CreateInvoice-modal .modal-dialog .invoice-body h4 {
  padding: 10px;
  background: #005a9c;
  color: #fff;
  margin: 0;
}
.CreateInvoice-modal .modal-dialog .invoice-body .invoice-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #efebeb87;
}
.CreateInvoice-modal
  .modal-dialog
  .invoice-body
  .invoice-list
  li
  .invoice-textbar {
  padding: 10px;
  font-size: 14px;
}
.invoice-Management .income-status.invoice-Management-box {
  display: flex;
  text-align: center;
  height: 220px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px !important;
}
.invoice-Management .income-status.invoice-Management-box img {
  width: 60px;
}
.invoice-Management .income-status.invoice-Management-box h4 {
  margin-top: 20px;
  margin-bottom: 0;
  color: #005a9c;
  line-height: 26px;
}
/* .creat-invoice-block .CreateInvoice-modal .modal-dialog {
    max-width: 100%;
    margin: 4rem auto;
    height: auto;
    overflow-x: auto;
}
.creat-invoice-block .CreateInvoice-modal .modal-dialog .invoice-body .invoice-list li span {
    flex: 0 0 30%;
}
.creat-invoice-block .CreateInvoice-modal .modal-dialog .invoice-body .invoice-list li .invoice-textbar{
	width: 100%;
} */
.create-invoice-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.create-invoice-header h4 {
  color: #005a9c;
  font-size: 30px;
  margin: 0px;
}
.create-invoice-header .invoice-btn-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 60%;
}
.create-invoice-header .invoice-btn-block li {
  margin-left: 30px;
  text-align: right;
}
.create-invoice-header .form-group {
  width: 200px;
  flex: 0 0 100%;
  margin: 0;
}
.customer-in {
  display: flex;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 1px 10px #00000014;
  margin-bottom: 30px;
}
.customer-in img {
  width: 15%;
  margin-right: 20px;
}

.accordion > .card:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.add-item-form .btn-link {
  font-weight: 400;
  color: #ffffff !important;
  text-decoration: none !important;
}
.add-item-form .card-header {
  padding: 5px !important;
  background-color: rgb(0, 90, 156);
  border-bottom: 1px solid rgb(0, 90, 156);
}
.add-item-form .btn-primary {
  color: #fff;
  background-color: #005a9c !important;
  border-color: #005a9c !important;
}
.add-item-form .card-header i {
  margin-right: 5px;
}

.accordion-form {
  /* background: #005a9c; */
  padding: 15px;
  border: 5px dotted #005a9c;
}

.btn-accordion {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-accordion button {
  margin-left: 15px;
}
.customer-data-save {
  display: flex;
  align-items: center;
  margin: 0 -15px 0 -15px;
}
.customer-data-save .left,
.customer-data-save .right {
  flex: 0 0 50%;
  padding: 0 15px;
}
.customer-data-save .left ul {
  display: flex;
  align-items: center;
}
.customer-data-save .left ul .multiply {
  padding: 10px 10px 0;
  color: red;
}
.customer-data-save .right ul {
  text-align: right;
}
.customer-data-save .right ul li p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.user-profile-block {
  padding: 30px;
  background-color: #f8f9fa;
}
.user-profile-block .edit-imgin {
  display: flex;
  margin-bottom: 30px;
}
.user-profile-block .edit-imgin .edit-img {
  margin-right: 20px;
}
.user-profile-block .edit-imgin .edit-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.user-profile-block .user-detail-edit h4 {
  padding: 10px;
  background: #005a9c;
  margin-bottom: 20px;
  color: #ffffff;
  border-radius: 0px;
}
#address-popup .modal-header {
  padding: 10px;
  background: #005a9c;
  margin-bottom: 0px;
  color: #ffffff;
  border-radius: 0px;
}
#address-popup .modal-header .close {
  color: #ffffff;
  opacity: 1;
}
#address-popup .modal-dialog {
  max-width: 570px;
  margin: 1.75rem auto;
}
#address-popup .modal-dialog .modal-content {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.change-pic-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #005a9c;
  display: inline-block;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

ul.nav.nav-tabs.tabs-heading {
  display: inline-flex;
  border-top: 1px solid #3299ab;
  background-color: #fff;
  border-bottom: 1px solid #3299ab;
  border-right: 1px solid #3299ab;
  border-radius: 0px 35px 35px 0px;
  border-left: 1px solid #3299ab;
  margin-bottom: 30px;
}
ul.nav.nav-tabs.tabs-heading li.nav-item {
  margin-bottom: 0;
}

ul.nav.nav-tabs.tabs-heading li a {
  padding: 20px 17px;
  font-size: 18px;
  border-color: transparent;
  color: #3299ab;
}
.psychologist-left-sec span {
  width: 165px;
  height: 165px;
  display: block;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #3299ab;
}
.psychologist-left-sec span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.psychologist-left-sec button {
  display: block;
  border: 1px solid #3299ab;
  color: #3299ab;
  background-color: transparent;
  padding: 12px 20px;
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 20px;
}
.psychologist-right-sec h2 {
  color: #3b3b40;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 34px;
}
.psychologist-right-sec p {
  font-size: 28px;
  color: #3b3b40;
  font-weight: 300;
  margin: 0px;
}
.psychologist-right-sec h2 span {
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  float: right;
  letter-spacing: 1px;
}
.income-status.aos-init.aos-animate.psychologist-section {
  padding: 30px;
}
.psychologist-left-sec {
  padding-left: 0px;
}
.psychologist-right-sec textarea {
  width: 100%;
  text-align: left;
  border: 1px solid #3299ab;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #3b3b40;
  padding: 20px;
}
.psychologist-right-sec textarea:focus {
  outline: none;
  box-shadow: none;
}
.psychologist-right-sec h2 span ul li {
  display: inline-block;
  color: #ffc62d;
}
.psychologist-right-sec h2 span ul {
  display: inline-block;
  padding-left: 5px;
}
.icon-div ul li i {
  background-color: #3299ab;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-radius: 22px;
  line-height: 40px;
}
.icon-div ul li {
  display: inline-block;
  margin-left: 10px;
}
.icon-div ul {
  text-align: right;
  margin-bottom: 10px;
}
.info-tabs {
  margin-top: 40px;
}
.info-tabs .profile-tabs ul li {
  width: 33.33%;
  padding-left: 25px;
}
.info-tabs ul li a {
  background-color: #fff;
  color: #2ac7d6;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding: 19px 0px;
  border-radius: 45px !important;
  border: 1px solid #fff;
  letter-spacing: 1px;
}
.info-tabs ul li a.active {
  color: #fff !important;
  background-color: #2ac7d6 !important;
  border: 1px solid #2ac7d6 !important;
}
.info-tabs ul {
  margin-bottom: 30px;
  border: none;
}
.profile-form .form-group {
  padding-left: 35px !important;
}
.info-tabs .form-group span img {
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  max-width: 27px;
}
.info-tabs .form-group label {
  color: #828282;
  margin: 0px;
  font-size: 13px;
  width: 100%;
}
.info-tabs .form-group label button {
  float: right;
}
.info-tabs .form-group label button {
  float: right;
  background-color: transparent !important;
  color: #2ac7d6;
  border: none;
  padding: 0px;
}
.profile-form input {
  border: none;
  padding: 0px;
  height: 23px;
  font-size: 17px;
  background: transparent !important;
}
.info-tabs .profile-tabs ul li:first-child {
  padding-left: 0px;
}

body .info-tabs button.btn.btn-primary:focus {
  box-shadow: none;
  outline: none;
}
.form-border hr {
  border: 1px solid #6bd1e2;
  margin: 25px 0px 33px 0px;
}
.blog-top-left h3 {
  color: #3299ab;
  font-weight: 400;
  border: 1px solid #3299ab;
  display: inline-block;
  padding: 10px 31px;
  border-radius: 0px 43px 43px 0px;
}
.blog-top-right input {
  border: 1px solid #3299ab;
  height: auto;
  padding: 13px 15px;
  width: 100%;
  max-width: 400px;
  border-radius: 23px;
}
.blog-top-right img {
  border: 1px solid #3299ab;
  padding: 7px;
  border-radius: 39px;
  margin-left: 16px;
}
.blog-top-right {
  text-align: right;
}
.blog-inner-info {
  margin-top: 25px;
}
.blog-img-div img {
  width: 100%;
  border-radius: 20px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}
.blog-img-div {
  position: relative;
}
.blog-edit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px 20px 0px 0px;
  padding: 20px 25px;
}
.blog-edit i {
  color: #3299ab;
  font-size: 26px;
}
.blog-inner-info h6 {
  color: #717171;
  font-weight: 300;
  margin-top: 15px;
}
.blog-inner-info h6 span {
  float: right;
  font-weight: 500;
  color: #000000;
}
.blog-inner-info h3 {
  color: #3299ab;
  font-size: 26px;
  margin: 15px 0px;
}
.blog-inner-info p {
  margin: 0px;
  color: #121212;
  line-height: 23px;
}
.create-blog-btn a {
  background-color: #2ac7d6;
  color: #fff;
  padding: 15px 50px;
  display: inline-block;
  font-size: 19px;
  border-radius: 33px;
}
.create-blog-btn {
  text-align: center;
  margin: 80px 0px;
}
.blog-btn {
  width: 100%;
  float: left;
}
.blog-btn h1 {
  width: 33%;
  float: left;
  margin-bottom: 0px !important;
  margin-top: 6px !important;
}
.blog-btn button {
  padding: 13px 32px;
  background: #5acf81;
  border: none;
  color: #fff;
  border-radius: 20px;
  display: inline-block;
  float: right;
}
.setting-main h4 {
  color: #000;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1px;
  padding: 10px 25px;
}
.setting-inner-div {
  background-color: #f3f6fb;
}
.setting-main {
  padding: 30px !important;
}
.setting-inner-div {
  background-color: #f3f6fb;
  padding: 20px 30px;
  border-radius: 20px;
  margin-top: 10px;
}
.setting-inner-div h5 span {
  float: right;
}
.setting-inner-div h5 {
  color: #333;
  font-weight: 400;
  letter-spacing: 2px;
}
.setting-inner-div i {
  color: #39bfd1;
}
.successful-right-div.earning-right-div h4 {
  color: #fba14f;
}
.successful-right-div.earning-right-div {
  background-color: transparent;
}
.earning-btn-div a {
  color: #fba14f;
  font-size: 20px;
}
.earning-btn-div {
  text-align: center;
}
.earning-main {
  margin-bottom: 20px;
}
.earning-main .income-status {
  background-color: #f3f6fb !important;
  box-shadow: none !important;
}
.monthly-detail-sec h4 {
  color: #3299ab;
}
.monthly-detail-sec h4 span {
  padding: 0px 40px;
}
.monthly-detail-bg {
  background-color: #f3f6fb;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 25px;
}
.monthly-detail-bg h4 {
  color: #333;
  text-align: center;
}
.monthly-info span {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  text-align: center;
}
.monthly-info span h5 {
  margin: 0px;
  color: #fa9546;
  font-weight: bold;
  font-size: 25px;
}
.monthly-info span p {
  margin: 0px 0px 5px 0px;
  font-size: 19px;
}
.monthly-info span:first-child {
  border-right: 1px solid;
}
.monthly-info {
  margin-top: 20px;
}
.total-earning-right label {
  font-size: 29px;
  color: #383838;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 20px;
}
.total-earning-right {
  margin: auto;
}
.total-earning-right input {
  position: static;
  margin: 0px;
}
.total-earning-left h2 {
  text-align: center;
  font-size: 42px;
}
body .total-earning-left h3 {
  color: #fa9546 !important;
  font-size: 41px !important;
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
}
.total-earning-left div#carouselExampleControls {
  width: 340px;
  border: 12px solid #2ac7d6;
  height: 340px;
  border-radius: 100%;
  margin: 0 auto;
}
span.earning-border-span {
  width: 280px;
  height: 280px;
  border: 12px solid #d6ebee;
  display: block;
  border-radius: 100%;
  margin: 19px auto;
}
span.earning-border-span .carousel-inner {
  padding: 75px 0px;
}
section.signup-main {
  padding-top: 40px;
  margin-top: 190px;
  padding-bottom: 20px;
}
section.signup-main input,
section.signup-main select,
.gender-select button {
  border: 1px solid #37ce7f !important;
  height: 60px !important;
  border-radius: 32px !important;
  padding: 10px 30px;
}
.create-new-pass input {
  padding: 0px !important;
}
.form-row.signup-checkbox a {
  color: #828282;
  font-size: 18px;
}
.signup-checkbox label {
  color: #7b7b7b;
  font-size: 20px;
}
.doctor-signup form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.form-row.signup-agree-div a,
.form-row.signup-agree-div a:hover,
.resend-otp a {
  color: #ed1c24;
}
.form-row.signup-agree-div label {
  font-size: 18px;
}
.sign-btn .sign-back {
  border: 1px solid #37ce7f;
  padding: 11px 40px;
  display: inline-block;
  color: #37ce7f;
  border-radius: 33px;
  font-size: 19px;
  text-transform: uppercase;
  background-color: transparent;
}
.sign-btn .sign-account {
  background-color: #37ce7f;
  color: #fff;
  border: 1px solid #37ce7f;
  padding: 5px 50px;
  display: inline-block;
  border-radius: 33px;
  font-size: 19px;
  text-transform: uppercase;
  margin-left: 10px;
}
.or-div p {
  color: #2ac7d5;
  font-weight: 500;
  font-size: 20px;
}
.or-div {
  margin-top: 35px;
}
.sign-btn {
  text-align: center;
  margin-top: 40px;
}
.sign-left-sec {
  background-color: #37373c;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
}

.sign-left-sec h2 {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 35px;
  text-transform: uppercase;
}
.create-new-pass h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.create-new-pass p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 60px;
}
.email-verification .form-group input {
  width: 60px;
  border: none !important;
  border-bottom: 1px solid !important;
  border-radius: 0px !important;
  display: inline-block;
  text-align: center;
  margin: 0px 12px;
}
.form-row.email-verification {
  text-align: center;
}
.form-row.email-verification {
  margin-bottom: 20px;
}

.patient-signup .signup-checkbox {
  border-bottom: none;
}
.social-icons ul li {
  display: inline-block;
  margin: 0px 25px;
  text-align: center;
}
.social-icons ul {
  text-align: center;
  margin-top: 35px;
}
li.facebook-icon h5 {
  color: #3b5998;
  margin: 14px 0px 0px 0px;
  letter-spacing: 1px;
  font-size: 23px;
}
li.google-icon h5 {
  color: #eb4132;
  margin: 14px 0px 0px 0px;
  letter-spacing: 1px;
  font-size: 23px;
}
.form-row.signup-checkbox.patient-checkbox {
  margin-bottom: 60px;
  margin-top: 40px;
}
.signup-main {
  box-shadow: 1px 2px 9px #3299ab;
}

.sign-container {
  padding-bottom: 15px;
}
.signup-main {
  box-shadow: 1px 2px 11px rgba(50, 153, 171, 0.4);
  border-radius: 20px;
  padding: 0px;
}
.create-new-pass {
  padding: 30px 70px 30px 100px;
}
.otp-btn a.sign-back {
  padding: 5px 40px !important;
}
.social-icons ul li {
  display: inline-flex;
  width: 210px;
  margin: 0px 10px;
  text-align: center;
  padding: 5px 25px;
  border-radius: 40px;
  border: 1px solid #37ce7f;
}
li.facebook-icon h5 {
  color: #3b5998;
  margin: 7px 0px 0px 10px;
  letter-spacing: 1px;
  font-size: 23px;
}
li.google-icon h5 {
  color: #eb4132;
  margin: 7px 0px 0px 10px;
  letter-spacing: 1px;
  font-size: 23px;
}
.social-icons img {
  width: 100%;
  max-width: 30px;
}
label.form-check-label,
label.form-check-label a {
  color: #2cc8ca;
  font-size: 20px;
}
section.signup-main i {
  position: absolute;
  top: 17px;
  right: 25px;

  color: #828281;
  font-size: 28px;
  opacity: 0.7;
}
section.signup-main form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
section.signup-main form .intl-tel-input.allow-dropdown {
  width: 100%;
}
input#date {
  background-color: transparent;
}
.signup-agree-div p {
  font-size: 18px;
  color: #828282;
  margin-top: 22px !important;
}
button.sign-account.sign-btn-bottom {
  padding: 11px 50px;
}
section.signup-main h2 {
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  color: #37ce7f;
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-weight: 600;
}
section.signup-main.sign-register label {
  color: #37ce7f;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.form-group.form-check.register-sign input#acceptTerms {
  bottom: -4px;
  width: 17px;
}
.form-group.form-check.register-sign label.form-check-label {
  color: #333;
  font-size: 16px;
  margin-left: 4px;
}
.form-group.form-check.register-sign a {
  color: #d62a2a;
  font-size: 16px;
}
.form-group.form-check.register-sign {
  margin-top: 12px;
}
section.signup-main.sign-register {
  padding-bottom: 35px;
}
.resend-otp p {
  font-size: 20px;
}
.resend-otp button {
  color: #d62a2a;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}
.create-new-pass form p a {
  color: rgba(44, 200, 202, 1);
  font-size: 19px;
  margin: 3px 0px;
}
.create-new-pass form h2 {
  color: #000;
}
.patient-call input.CountryNumberInput.form-control {
  width: 100%;
}
.patient-call span.select2-selection.select2-selection--single {
  border: none;
  margin-top: 14px;
  margin-left: 12px;
}

.patient-call span.select2-selection.select2-selection--single:focus {
  outline: none;
}
.patient-call
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 15px;
}
.patient-call span.select2-selection.select2-selection--single {
  margin-top: 16px;
}
.patient-call
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-width: 9px 7px 0;
  height: 0;
  left: 50%;

  margin-top: -2px;
  position: absolute;
}
.patient-call
  .select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #888;
  border-width: 0 7px 9px !important;
}
.mat-form-field-outline.mat-form-field-outline-thick.ng-tns-c165-2.ng-star-inserted {
  display: none;
}

.password-register button.mat-ripple mat-icon.mat-icon {
  font-size: 19px !important;
}
.password-register button.mat-ripple {
  position: absolute;
  top: -37px;
  left: -37px;
  border: none;
}
section.dashboard-profile {
  background-color: #2ac7d6;
  border-radius: 10px;
  padding: 15px;
}
section.dashboard-profile .user-profile {
  padding: 30px 15px;
  text-align: center;
  display: flex;
  align-items: center;
}
section.dashboard-profile .user-profile img {
  width: 130px;
  margin-right: 10px;
  border-radius: 100%;
  height: 130px;
  object-fit: cover;
  border: 3px solid #fff;
}
.dashboard-profile .user-detail h4 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px;
}
.dashboard-profile .user-detail p {
  color: #fff;
  text-align: left;
  font-size: 19px;
  font-weight: 100;
  margin-top: 4px;
  margin-bottom: 0px;
}
.dashboard-profile .col-lg-3 {
  margin: auto;
}
.dashboard-profile .total-earning {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  height: 92px;
  padding-top: 20px;
}
.dashboard-profile .total-earning h4 {
  color: #2ac7d6;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}
.dashboard-profile .total-earning h2 {
  font-weight: 700;
  color: #000;
  margin: 0px;
}
section.dashboard-inner {
  margin-top: 70px;
}
.dashboard-info {
  border: 2px solid #2ac7d6;
  border-radius: 10px;
  text-align: center;
  padding: 40px 10px;
  background-color: #fff;
  height: 239px;
}
.dashboard-info mat-icon {
  left: 160px;
  bottom: 41px;
}
.dashboard-info h2 {
  margin: 15px 0px 0px 0px !important;
}
.dashboard-info img {
  width: 100%;
  max-width: 75px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.has-search .form-control {
  padding-left: 2.375rem;
  border: none;
  border-radius: 10px;
}
.past-app-inner {
  padding: 15px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}
ul.pagination.page-change {
  float: right;
  margin: 20px 0;
}
ul.pagination.page-change li {
  color: #000000;
  font-size: 14px;
}
ul.pagination.page-change a {
  padding: 13px 17px;
  color: #000 !important;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #59ce82 !important;
  border-color: #59ce82 !important;
}
.page-item.disabled .page-link {
  color: #f2f3f5;
  pointer-events: none;
  cursor: auto;
  background-color: #59ce82;
  border-color: #59ce82;
}
.pagination .page-link:hover {
  z-index: 2;
  color: #f6f8fb !important;
  text-decoration: none;
  background-color: #59ce82;
  border-color: #59ce82;
}
.past-app-text {
  width: 100%;
  text-align: left;
}
.past-app-inner img {
  width: 130px;
  margin-right: 10px;
  border-radius: 100%;
  height: 130px;
  object-fit: cover;
  border: 3px solid #fff;
}
.past-app-text h3 {
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  font-size: 19px !important;
  margin: 0px !important;
}
.past-app-text h6 {
  font-size: 16px !important;
  margin: 7px 0px !important;
}
.past-app-text p {
  font-size: 16px !important;
  margin: 0px !important;
}
.more-step {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  position: relative;
  height: 92px;
  padding-top: 18px;
  padding-left: 12px;
}
.more-step p {
  margin: 0px !important;
  padding-right: 40px;
}
.more-step img {
  width: 100%;
  max-width: 20px;
  position: absolute;
  top: 40%;
  right: 16px;
}
div#personal-info .form-row {
  margin-top: 15px;
}

button.disabledClass {
  background-color: #9f9f9f;
  color: #fff;
  border: 1px solid #bcbcbc;
  padding: 5px 50px !important;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 34px;
  margin-left: 10px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.42);
  display: none !important;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
.paddingDiv:focus {
  outline: 0;
}

.past-app-inner .dotted-icn {
  top: 47px !important;
  position: absolute;
  right: 19px;
}
.dotted-icn a#dropdownMenuLink {
  background: none;
  border: none;
}
.dotted-icn .show {
  transform: translate3d(-186px, 33px, 0px) !important;
  will-change: transform;
  width: 200px;
  text-transform: capitalize;
  box-shadow: 1px 2px 5px 2px #959595;
  border-radius: 9px;
}

.dotted-icn .dropdown-item.Cancel {
  color: red !important;
}
.dotted-icn .Cancel:hover {
  color: red !important;
}
.past-app-text.timer-icn span {
  padding: 13px 55px;
  background: #48c9c7;
  display: inline-block;
  border-radius: 26px;
  color: #fff;
  font-weight: 400;
  margin-top: 9px;
}
.timer-icn i.far.fa-clock {
  position: absolute;
  margin-top: 21px;
  margin-left: 12px;
  color: #fff;
  font-size: 20px;
}
.paddingDiv:focus {
  outline: 0;
}
.pagination {
  float: right;
}
.pagination a {
  color: #000;
}

.content-element button {
  padding: 9px 38px;
  background: #5acf82;
  border: none;
  color: #fff;
  border-radius: 24px;
  margin-top: 14px;
}
.content-element h1 {
  font-weight: 500 !important;
  margin-left: 12px !important;
}
input.add-file {
  position: relative;
  top: 15px;
  position: relative;
}
input#file {
  color: transparent;
  position: absolute;
  background: transparent;
  opacity: 0;
  bottom: 0px;
  right: 12px;
  cursor: pointer;
}
.past-app-text.panding-Appointment {
  text-align: center;
}
.Create-submit {
  text-align: center;
}
.sidebar li:hover {
  background: linear-gradient(
    90deg,
    rgba(44, 200, 202, 1) 13%,
    rgba(55, 206, 127, 1) 100%
  ) !important;
  color: #fff !important;
}
.sidebar a:hover {
  color: #fff !important;
}
.sidebar li a.active {
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(44, 200, 202, 1) 13%,
    rgba(55, 206, 127, 1) 100%
  ) !important;
  border-left: 0;
}

.multiselect-dropdown {
  height: 260px !important;
}
.mat-dialog-content.mat-dialog-content.intl-input {
  overflow: revert;
  width: 300px !important;
}
.backdropBackground {
  background: rgba(0, 0, 0, 0.7) left top no-repeat;
}
.past-appointments {
  width: 100%;
}
.past-appointments .past-app-inner {
  font-size: 25px;
  color: #6d6a6a;
  align-items: center;
}
.time-slot {
  background: gainsboro;
  padding: 15px;
}
.col-lg-12.slot-box {
  border: 1px solid gray;
  margin-bottom: 17px;
}
