<div class="tab-pane active" aos-init aos-animate data-aos="zoom-in">
  <form class="profile-form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="control-label">First Name</label>
        <input
          disabled
          type="text"
          value="{{ personalInfo?.firstName }}"
          class="form-control"
        />
        <span>
          <img src="./assets/images/user-profile.png" />
        </span>
      </div>
      <div class="form-group col-md-6">
        <label class="control-label">Last Name</label>
        <input
          disabled
          type="text"
          class="form-control"
          placeholder="{{ personalInfo?.lastName }}"
        />
        <span>
          <img src="./assets/images/user-profile.png" />
        </span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="control-label">Gender</label>
        <input
          disabled
          type="text"
          class="form-control"
          placeholder="{{ personalInfo?.gender }}"
        />
        <span>
          <img src="./assets/images/gender.png" />
        </span>
      </div>
      <div class="form-group col-md-6">
        <label class="control-label">Date of Birth</label>
        <input
          disabled
          type="text"
          class="form-control"
          placeholder="{{ personalInfo?.dateOfBirth }}"
        />
        <span>
          <img src="./assets/images/past-appointments.png" />
        </span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label class="control-label"
          >About
          <input
            disabled
            type="text"
            class="form-control"
            placeholder="{{ personalInfo?.about }}" />
          <button type="button" class="btn btn-primary" data-toggle="modal">
            <i class="fas fa-pencil-alt" (click)="openAboutModal()"></i></button
        ></label>

        <span>
          <img src="./assets/images/user-profile.png" />
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label class="control-label"
          >Address
          <input
            disabled
            type="text"
            value="{{ personalInfo?.currentAddress }}{{
              personalInfo?.state
            }},{{ personalInfo?.country }}"
            class="form-control" />
          <button type="button" class="btn btn-primary">
            <i
              class="fas fa-pencil-alt"
              (click)="openAddressModal()"
            ></i></button
        ></label>
        <span>
          <img src="./assets/images/address.png" />
        </span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label class="control-label">Nationality</label>
        <input
          type="text"
          disabled
          class="form-control"
          placeholder="{{ personalInfo?.nationality }}"
        />
        <span>
          <img src="./assets/images/address.png" />
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label class="control-label"
          >Phone Number
          <button type="button" class="btn btn-primary">
            <i class="fas fa-pencil-alt" (click)="openPhoneModal()"></i></button
        ></label>
        <input
          type="text"
          class="form-control"
          placeholder="+{{ personalInfo?.dialCode }}-{{
            personalInfo?.phoneNumber
          }}"
        />
        <span>
          <img src="./assets/images/phone-icon.png" />
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label class="control-label"
          >Language
          <button type="button" class="btn btn-primary">
            <i
              class="fas fa-pencil-alt"
              (click)="openLanguageModal()"
            ></i></button
        ></label>
        <ng-container *ngFor="let item of personalInfo?.doctorLangauges">
          <input
            type="text"
            class="form-control"
            placeholder="{{ item.name }}"
          />
        </ng-container>
        <span>
          <img src="./assets/images/website-icon.png" />
        </span>
      </div>
    </div>
  </form>
</div>

<ng-template #aboutDailog>
  <h1 mat-dialog-title>About Modal</h1>
  <form [formGroup]="aboutUpdateForm" (ngSubmit)="onUpdateAbout()">
    <mat-dialog-content class="mat-typography">
      <textarea
        [ngClass]="{ 'is-invalid': submitted && error.about.errors }"
        formControlName="about"
        rows="10"
        cols="120"
      ></textarea>
    </mat-dialog-content>
    <mat-error *ngIf="!aboutUpdateForm.valid"
      >Please enter in About Field</mat-error
    >

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="!aboutUpdateForm.valid">
        Update
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #addressDailog>
  <h1 mat-dialog-title>Address Modal</h1>
  <form [formGroup]="addressUpdateForm" (ngSubmit)="onUpdateAddress()">
    <mat-dialog-content class="mat-typography">
      <div class="form-row">
        <div class="form-group col-lg-12">
          <input formControlName="address" class="form-control" />
        </div>
        <div class="form-group col-lg-12">
          <input formControlName="address2" class="form-control" />
        </div>
        <div class="form-group col-lg-12">
          <select
            class="form-control form-control-lg"
            formControlName="country"
            (change)="onSelectCountry($event.target.value)"
          >
            <option *ngFor="let item of countries" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="form-group col-lg-12">
          <select
            formControlName="state"
            class="form-control form-control-lg"
            (change)="onSelectState($event.target.value)"
          >
            <option *ngFor="let item of stateList" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="form-group col-lg-12">
          <input formControlName="city" class="form-control" />
        </div>
        <div class="form-group col-lg-12">
          <select
            class="form-control form-control-lg"
            formControlName="nationality"
            (change)="onSelectNationality($event.target.value)"
          >
            <option *ngFor="let item of nationalities" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-button
        [mat-dialog-close]="true"
        type="submit"
        [disabled]="!addressUpdateForm.valid"
      >
        Update
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #languageDailog>
  <h1 mat-dialog-title>Language Modal</h1>
  <form [formGroup]="languageForm" (ngSubmit)="addLanguage()">
    <mat-dialog-content class="mat-typography">
      <div class="form-row">
        <div class="form-group col-lg-12 multi-select-form">
          <mat-error *ngIf="!languageForm.valid"
            >Please Select Atlest One Language</mat-error
          >
          <ng-multiselect-dropdown
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [ngModel]="selectedItems"
            formControlName="language"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-button
        [mat-dialog-close]="true"
        type="submit"
        [disabled]="!languageForm.valid"
      >
        Update
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #phoneDailog>
  <h1 mat-dialog-title>Phone Modal</h1>
  <form [formGroup]="phoneForm" (ngSubmit)="updatePhoneNumber()">
    <mat-dialog-content class="intl-input">
      <intl-input-phone
        formControlName="phone"
        [ConfigurationOption]="configOption"
        (OnNumberChange)="onEnterNumber($event)"
        [NumberTextValue]="requiredDailCode"
      ></intl-input-phone
    ></mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="!phoneForm.valid">
        Update
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>
