<ngx-loading-bar
  [height]="'2px'"
  [color]="'#fa9546'"
  [includeSpinner]="false"
></ngx-loading-bar>
<ngx-spinner color="#3299ab"></ngx-spinner>
<app-header *ngIf="auth.isLoggedIn()"></app-header>
<app-sidebar *ngIf="auth.isLoggedIn()"></app-sidebar>
<router-outlet></router-outlet>
