<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5">
              <ul class="header-left">
                <li>
                  <a>
                    <img src="assets/images/logo.png" />
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-7"></div>
          </div>
        </div>
      </header>
      <!--header ends here-->

      <div class="container sign-container">
        <section class="signup-main">
          <div class="row">
            <div class="col-lg-12">
              <div class="create-new-pass">
                <h2>Reset Password</h2>
                <p>
                  Please enter the OTP number that <br />
                  has been sent to your email/mobile
                </p>
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                  <div class="form-row">
                    <div class="form-group col-lg-12">
                      <input
                        type="text"
                        placeholder="Enter OTP"
                        formControlName="otp"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.otp.errors }"
                        onlyNumber
                      />

                      <p>
                        Your Otp is:-
                        {{ otp }}
                      </p>
                      <div
                        *ngIf="submitted && f.otp.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.otp.errors.required">OTP is required</div>
                      </div>
                    </div>
                    <div class="form-group col-lg-12">
                      <input
                        type="password"
                        placeholder="Enter New Password"
                        formControlName="newPassword"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && f.newPassword.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.newPassword.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.newPassword.errors.required">
                          Password is required
                        </div>
                        <div *ngIf="f.newPassword.errors.minlength">
                          Password must be at least 8 characters
                        </div>
                        <div *ngIf="f.newPassword.errors.pattern">
                          New Password should be at least one letter,one capital
                          letter, one number and one special character
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-lg-12">
                      <input
                        type="password"
                        placeholder="Email"
                        formControlName="email"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && f.email.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.email.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.email.errors.required">
                          Email is required
                        </div>
                        <div *ngIf="f.email.errors.email">
                          Email must be a valid email address
                        </div>
                      </div>
                    </div>
                    <div class="sign-btn">
                      <button class="sign-account">Reset Password</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
