<body>
  <div class="wrapper">
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <ul class="header-left">
              <li>
                <a>
                  <img src="assets/images/logo.png" />
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-7"></div>
        </div>
      </div>
    </header>
    <!--header ends here-->

    <div class="container sign-container">
      <section class="signup-main">
        <div class="row">
          <div class="col-lg-12">
            <div class="create-new-pass">
              <form>
                <h2>Please Enter {{ otp }}</h2>
                <p>
                  A One time Passcode has been sent to
                  <a class="d-block">{{ email }}</a> to verify your Email
                  Address.
                </p>

                <div class="form-row email-verification">
                  <div class="form-group col-lg-12">
                    <ng-otp-input
                      (onInputChange)="onOtpChange($event)"
                      [config]="{ length: 4, allowNumbersOnly: true }"
                    ></ng-otp-input>
                  </div>
                </div>

                <div class="resend-otp">
                  <p>
                    Didn’t Recieve a code?
                    <button type="text" (click)="onResendOtp()">
                      Resend OTP
                    </button>
                  </p>
                </div>

                <div class="sign-btn otp-btn">
                  <a
                    [routerLink]="['/login']"
                    routerLinkActive="router-link-active"
                    class="sign-back"
                    >Back</a
                  >
                  <button
                    [disabled]="!isDisabled"
                    [ngClass]="!isDisabled ? 'disabledClass ' : 'sign-account'"
                    (click)="onSubmit()"
                  >
                    Continue
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
