<div class="wrapper">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <ul class="header-left">
            <li>
              <a>
                <img src="assets/images/logo.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </header>
  <!--header ends here-->

  <div class="container sign-container">
    <section class="signup-main">
      <div class="row">
        <div class="col-lg-12">
          <div class="create-new-pass">
            <h2>Forgot Password</h2>
            <p>Please enter your email and we will send OTP number</p>
            <form
              [formGroup]="forgotPasswordForm"
              (ngSubmit)="onForgotPassword()"
            >
              <div class="form-row">
                <div class="form-group col-lg-12">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      forgotPasswordForm.controls['email'].hasError(
                        'required'
                      ) &&
                      (forgotPasswordForm.controls['email'].dirty ||
                        forgotPasswordForm.controls['email'].touched)
                    "
                    >This field is required</span
                  >
                  <span
                    class="text-danger"
                    *ngIf="
                      forgotPasswordForm.controls['email'].hasError(
                        'pattern'
                      ) &&
                      (forgotPasswordForm.controls['email'].dirty ||
                        forgotPasswordForm.controls['email'].touched)
                    "
                    >Please enter valid email address
                  </span>
                </div>
              </div>

              <div class="sign-btn">
                <a routerLink="" class="sign-back">Back</a>
                <button
                  class="sign-account sign-btn-bottom"
                  [disabled]="!forgotPasswordForm.valid"
                >
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
