<div class="wrapper">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <ul class="header-left">
            <li>
              <a>
                <img src="assets/images/logo.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </header>
  <!--header ends here-->
  <!-- main app container -->

  <div class="container sign-container">
    <section class="signup-main sign-register">
      <h2>Sign up</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>What will be your email address?</label>
          <input
            type="text"
            placeholder="Email"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && registerFormError.email.errors
            }"
          />
          <div
            *ngIf="registerFormError.email.errors?.pattern"
            style="color: red"
          >
            Email must be a valid email address
          </div>
          <div
            *ngIf="submitted && registerFormError.email.errors"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormError.email.errors.required">
              Email is required
            </div>
          </div>
        </div>
        <div class="mt-4 password-register">
          <label>Password</label>
          <div class="w-100" fxFlex>
            <!--password input filed-->
            <mat-form-field style="width: 100%">
              <!-- <mat-label>Password</mat-label> -->
              <mat-pass-toggle-visibility
                #toggle
                matSuffix
              ></mat-pass-toggle-visibility>
              <input
                matInput
                formControlName="password"
                #password
                [type]="toggle.type"
                required
                name="password"
              />
              <!-- <mat-hint align="end" aria-live="polite">
                {{ password.value.length }} / {{ passwordComponent.max }}
              </mat-hint> -->
            </mat-form-field>
            <!--@angular-material-extensions/password-strength's main component-->
            <mat-password-strength
              #passwordComponent
              [password]="password.value"
            >
            </mat-password-strength>
            <!--Password's strength info-->
            <mat-password-strength-info
              lowerCaseCriteriaMsg="contains at least one lower character"
              upperCaseCriteriaMsg="contains at least one upper character"
              digitsCriteriaMsg="contains at least one digit character"
              specialCharsCriteriaMsg="contains at least one special character"
              minCharsCriteriaMsg="contains at least 8 characters"
              [passwordComponent]="passwordComponent"
            >
            </mat-password-strength-info>
          </div>
        </div>
        <div
          *ngIf="submitted && registerFormError.password.errors"
          class="invalid-feedback"
        >
          <div *ngIf="registerFormError.password.errors.required">
            Password is required
          </div>
        </div>
        <div class="form-group form-check register-sign">
          <input
            type="checkbox"
            formControlName="acceptTerms"
            id="acceptTerms"
            class="form-check-input"
            [ngClass]="{
              'is-invalid': submitted && registerFormError.acceptTerms.errors
            }"
          />
          <label class="form-check-label" for="exampleCheck1"
            >I agree to livecare24’s <a>Terms of Use</a> &
            <a>Privacy Policy</a></label
          >
          <div
            *ngIf="submitted && registerFormError.acceptTerms.errors"
            class="invalid-feedback"
          >
            Please agree Terms and Policy
          </div>
        </div>
        <div class="sign-btn">
          <a routerLink="/register/step-1" class="sign-back">Back</a>
          <button class="sign-account sign-btn-bottom" type="submit">
            Continue
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
