<!-- body wrap start here-->
<section class="body-wrap">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="body-content">
        <div class="content-element">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div
                  class="col-xs-12 col-12 col-md-4 form-group"
                  *ngIf="showCalendar"
                >
                  <input
                    [maxDate]="nextMonth"
                    [minDate]="previousDate"
                    [dateCustomClasses]="dateCustomClasses"
                    placeholder="Choose Date"
                    (bsValueChange)="onSelectDate($event)"
                    bsDatepicker
                    [bsConfig]="{
                      showWeekNumbers: false,
                      adaptivePosition: true,
                      dateInputFormat: 'DD-MM-YYYY'
                    }"
                  />

                  <!-- <bs-datepicker-inline
                    [maxDate]="nextMonth"
                    [minDate]="previousDate"
                    [dateCustomClasses]="dateCustomClasses"
                    (bsValueChange)="onSelectDate($event)"
                    [bsConfig]="{
                      showWeekNumbers: false,
                      adaptivePosition: true,
                      dateInputFormat: 'MM-DD-YYYY'
                    }"
                  >
                  </bs-datepicker-inline> -->
                </div>
              </div>
              <div *ngIf="showData">
                <div *ngIf="showTimeSlots">
                  <p>{{ scheduleDate | date: "dd MMMM" }}</p>
                  <select
                    (change)="onChange($event.target.value)"
                    [ngModel]="selected"
                  >
                    <option *ngFor="let starTime of arrayStart">
                      {{ starTime }}
                    </option>
                  </select>
                </div>

                <div>
                  <select
                    (change)="onSelectEndDate($event.target.value)"
                    [ngModel]="selectedEnd"
                  >
                    <option selected="kok" disabled>Choose End Time</option>
                    <option *ngFor="let item of dateWiseSlots" [value]="item">
                      {{ item }}
                    </option>
                  </select>
                </div>
              </div>
              <hr />
              <button *ngIf="isShowSubmit" (click)="onSubmit()">Create</button>
              <button *ngIf="isShowCreate" (click)="onUpdate()">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- body wrap start here-->
<router-outlet></router-outlet>
