<div class="wrapper" aos-init aos-animate data-aos="zoom-in">
  <!-- body wrap start here-->
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <section class="dashboard-profile">
              <div class="row">
                <div class="col-lg-6">
                  <div class="user-profile">
                    <img [src]="baseImgUrl + dashboardData?.profilePic" />
                    <div class="user-detail">
                      <h4>
                        DR.
                        {{ dashboardData?.firstName | uppercase }}
                        {{ dashboardData?.lastName | uppercase }}
                      </h4>
                      <p *ngFor="let item of specialityInfo">
                        {{ item?.name }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3" *ngIf="profileDisplay">
                  <div class="more-step">
                    <p>
                      <b>Just few more steps</b><br />
                      Your pofile completion Is
                      {{ percentageProfileComplete }}%
                    </p>
                    <img
                      src="./assets/images/right-arrow.png"
                      routerLink="/profile"
                    />
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="total-earning">
                    <h4>Total Earning</h4>
                    <h2>$5000/-</h2>
                  </div>
                </div>
              </div>
            </section>

            <section class="dashboard-inner">
              <div class="row">
                <div
                  class="col-lg-3 paddingDiv"
                  [routerLink]="['/my-schedule']"
                  routerLinkActive="active"
                >
                  <div class="dashboard-info paddingDiv">
                    <img src="./assets/images/my-schedule.png" />
                    <h2>My Schedule</h2>
                  </div>
                </div>

                <div
                  class="col-lg-3 paddingDiv"
                  [routerLink]="['/upcoming-appointments']"
                  routerLinkActive="active"
                >
                  <div class="dashboard-info paddingDiv">
                    <mat-icon
                      *ngIf="dashboardData?.totalUpcomingAppointments > 0"
                      matBadge="{{ dashboardData?.totalUpcomingAppointments }}"
                      matBadgeColor="warn"
                    ></mat-icon>
                    <img src="./assets/images/upcoming-appointment.png" />
                    <h2>Upcoming Appointments</h2>
                  </div>
                </div>
                <div
                  class="col-lg-3 paddingDiv"
                  [routerLink]="['/pending-appointments']"
                  routerLinkActive="active"
                >
                  <div class="dashboard-info">
                    <mat-icon
                      *ngIf="dashboardData?.totalPendingAppointments > 0"
                      matBadge="{{ dashboardData?.totalPendingAppointments }}"
                      matBadgeColor="warn"
                    ></mat-icon>
                    <img src="./assets/images/pending-appointment.png" />
                    <h2>Pending Appointments</h2>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="dashboard-info">
                    <img src="./assets/images/prescription-icon.png" />
                    <h2>Prescription</h2>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- body wrap start here-->
</div>
