<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0 past-med-list">
        <div class="body-content">
          <div class="content-element">
            <h1>Pending Appointments</h1>

            <div class="row">
              <div class="col-md-6" *ngFor="let item of pendingAppointments">
                <div class="past-appointments">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="past-app-inner">
                        <img
                          *ngIf="item.patientProfilePic == ''"
                          [src]="characterImg"
                        />
                        <img
                          *ngIf="item.patientProfilePic !== ''"
                          [src]="rootUrl + item.patientProfilePic"
                        />
                        <div class="past-app-text panding-Appointment">
                          <h3>{{ item.patientName }}</h3>
                          {{ item.slotFrom | date: "h:mm a" }}-
                          {{ item.slotTo | date: "h:mm a" }}
                          <p>{{ item.slotFrom | date: "dd-MM-yyyy" }}</p>
                          <button (click)="onViewDetails(item)">
                            View Details
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="noData">
              <div class="col-md-12">
                <div class="past-appointments">No Data To Display</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
