<div class="wrapper">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <ul class="header-left">
            <li>
              <a>
                <img src="assets/images/logo.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </header>
  <!--header ends here-->
  <!-- main app container -->
  <div class="container sign-container">
    <section class="signup-main">
      <h2>Sign up</h2>
      <form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-lg-12">
            <input
              type="text"
              (input)="onEnterAddress()"
              formControlName="address"
              class="form-control"
              placeholder="Address Line 1"
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  basicInfoError.address.errors &&
                  basicInfoError.address2.errors
              }"
            />
            <div
              *ngIf="
                submitted &&
                basicInfoError.address.errors &&
                basicInfoError.address2.errors
              "
              class="text-danger"
            >
              Please Fill Atlest One Field From Address 1 and Address 2
            </div>
          </div>
          <div class="form-group col-lg-12">
            <input
              type="text"
              formControlName="address2"
              placeholder="Address Line 2"
              (input)="onEnterAddress2()"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  basicInfoError.address.errors &&
                  basicInfoError.address2.errors
              }"
            />
          </div>
          <div class="form-group col-6">
            <div class="selectdiv">
              <select
                formControlName="countryId"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && basicInfoError.countryId.errors
                }"
                (change)="onSelectCountry($event.target.value)"
              >
                <option value="" selected disabled style="color: grey">
                  Country
                </option>

                <option *ngFor="let item of countries" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
              <div
                *ngIf="submitted && basicInfoError.countryId.errors"
                class="invalid-feedback"
              >
                <div *ngIf="basicInfoError.countryId.errors.required">
                  County is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <div class="selectdiv">
              <select
                formControlName="stateId"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && basicInfoError.stateId.errors
                }"
              >
                <option value="" selected disabled style="color: grey">
                  State
                </option>
                <option *ngFor="let item of states" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
              <div
                *ngIf="submitted && basicInfoError.stateId.errors"
                class="invalid-feedback"
              >
                <div *ngIf="basicInfoError.stateId.errors.required">
                  State is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-6">
            <input
              type="text"
              formControlName="city"
              placeholder="City"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && basicInfoError.city.errors
              }"
            />
            <div
              *ngIf="submitted && basicInfoError.city.errors"
              class="invalid-feedback"
            >
              <div *ngIf="basicInfoError.city.errors.city">
                City is required
              </div>
            </div>
          </div>

          <div class="form-group col-6">
            <div class="selectdiv">
              <select
                formControlName="nationalityId"
                class="form-control"
                placeholder=""
                [ngClass]="{
                  'is-invalid': submitted && basicInfoError.countryId.errors
                }"
              >
                <option value="" selected disabled style="color: grey">
                  Nationality
                </option>
                <option *ngFor="let item of nationalities" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div
              *ngIf="submitted && basicInfoError.nationalityId.errors"
              class="invalid-feedback"
            >
              <div *ngIf="basicInfoError.nationalityId.errors.required">
                Nationality is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <input
              type="text"
              formControlName="regNo"
              placeholder="Registration Number"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && basicInfoError.regNo.errors
              }"
            />
            <div
              *ngIf="submitted && basicInfoError.regNo.errors"
              class="invalid-feedback"
            >
              Registration Number is required
            </div>
          </div>

          <div class="form-group col-12">
            <div class="selectdiv">
              <select
                formControlName="specialityId"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && basicInfoError.specialityId.errors
                }"
              >
                <option value="" selected disabled style="color: grey">
                  Speciality
                </option>
                <option *ngFor="let item of specialities" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
              <div
                *ngIf="submitted && basicInfoError.specialityId.errors"
                class="invalid-feedback"
              >
                <div *ngIf="basicInfoError.specialityId.errors.required">
                  Speciality is required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sign-btn">
          <button
            class="mr-1 sign-back"
            [routerLink]="['']"
            routerLinkActive="router-link-active"
          >
            Back
          </button>

          <button class="mr-1 sign-account sign-btn-bottom" type="submit">
            Done
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
