<div class="wrapper">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <ul class="header-left">
            <li>
              <a>
                <img src="assets/images/logo.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-7"></div>
      </div>
    </div>
  </header>
  <!--header ends here-->

  <div class="container sign-container">
    <section class="signup-main">
      <h2 class="login-heading">Signup</h2>
      <div class="row">
        <div class="col-lg-12 pb-4">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-lg-6">
                <input
                  type="text"
                  placeholder="First Name"
                  #firstName
                  appAlphabetOnly
                  [value]="firstName.value | titlecase"
                  formControlName="firstName"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      submitted && registerFormError.firstName.errors
                  }"
                />
                <div
                  *ngIf="submitted && registerFormError.firstName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="registerFormError.firstName.errors.required">
                    First Name is required
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <input
                  type="text"
                  #lastName
                  appAlphabetOnly
                  [value]="lastName.value | titlecase"
                  placeholder="Last Name"
                  formControlName="lastName"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && registerFormError.lastName.errors
                  }"
                />
                <div
                  *ngIf="submitted && registerFormError.lastName.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="registerFormError.lastName.errors.required">
                    Last Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-12">
                <intl-input-phone
                  class="patient-call"
                  formControlName="phoneNumber"
                  [ConfigurationOption]="configOption"
                  (OnNumberChange)="onEnterNumber($event)"
                  [NumberTextValue]="requiredDailCode"
                  [ngClass]="{
                    'is-invalid':
                      submitted && registerFormError.phoneNumber.errors
                  }"
                ></intl-input-phone>
                <div
                  *ngIf="submitted && registerFormError.phoneNumber.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="registerFormError.phoneNumber.errors.required">
                    Phone Number is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-6">
                <input
                  type="text"
                  placeholder="Date of Birth"
                  readonly
                  id="date"
                  name="date"
                  [bsConfig]="{
                    adaptivePosition: true,
                    showWeekNumbers: false
                  }"
                  formControlName="dateOfBirth"
                  required
                  useValueAsDate
                  [maxDate]="maxDate"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      submitted && registerFormError.dateOfBirth.errors
                  }"
                  class="form-control"
                  bsDatepicker
                />

                <div
                  *ngIf="submitted && registerFormError.dateOfBirth.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="registerFormError.dateOfBirth.errors.required">
                    Date Of Birth is required
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-6 gender-d-d">
                <div class="selectdiv">
                  <select
                    formControlName="genderId"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid':
                        submitted && registerFormError.genderId.errors
                    }"
                  >
                    <option value="" selected disabled style="color: grey">
                      Please Select Gender
                    </option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Others</option>
                  </select>
                  <div
                    *ngIf="submitted && registerFormError.genderId.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="registerFormError.genderId.errors.required">
                      Gender is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="signup-agree-div">
              <p class="text-center">
                By providing your mobile number, you give us permission to
                contact you via text or call.
              </p>
            </div>

            <div class="sign-btn">
              <a routerLink="" class="sign-back">Back</a>
              <button class="sign-account sign-btn-bottom" type="submit">
                Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
