<div class="wrapper">
  <section class="body-wrap">
    <div class="row m-0">
      <div class="col-md-12 p-0 past-med-list">
        <div class="body-content">
          <div class="content-element">
            <h1>Allergy History</h1>
            <div class="row">
              <div class="col-md-12">
                <div class="prescription-med mt-3">
                  <h4>TREATMENT NAME:</h4>
                  <h4>DOCTOR NAME:</h4>
                  <h4>DATE:</h4>
                  <h4>NOTES :</h4>

                  <div class="dropdown show">
                    <a
                      class="btn btn-secondary"
                      role="button"
                      id="dropdownMenuLink"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                  </div>

                  <a class="more-data">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
