<div class="wrapper">
  <section class="body-wrap" style="background-color: #fff">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="body-content">
          <div class="content-element">
            <div class="blog-btn">
              <h1>Blogs</h1>
              <button routerLink="./create-blog">Create Blog</button>
            </div>
            <div class="blog-inner-main">
              <div class="row">
                <div class="col-lg-4 blog-inner-info" *ngFor="let item of List">
                  <div class="blog-img-div">
                    <img [src]="rootUrl + item.blogImagePath" />
                    <div class="blog-edit">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                  </div>
                  <h6>
                    {{ item.createdDate }} <span>{{ item.doctorName }}</span>
                  </h6>
                  <h3>{{ item.title }}</h3>
                  <p>{{ item.description }}</p>
                </div>
              </div>

              <pagination
                [totalItems]="totalCount"
                [itemsPerPage]="pageSize"
                [maxSize]="pageSize"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)"
              >
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
