<header class="header" aos-init aos-animate data-aos="fade-down">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <ul class="header-left">
          <li>
            <a>
              <img
                class="paddingDiv"
                src="./assets/images/logo.png"
                [routerLink]="['/dashboard']"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-7">
        <ul class="header-right">
          <li>
            <a class="flip"><img src="./assets/images/toggle-icon.png" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
